useDynLib("bigchisqsum")
importMethodsFrom("Matrix","%*%")
import("Rmpfr")
importFrom("stats", "pgamma","integrate")
export(elgamma,chisqtwo,OptM,stcoef,sttail, evaldensity,evaltail,
  BesselExpand, BesselError,pochhammer,oneFone,convone, simplify
  simplifymp)
exportMethods("show","as.data.frame","%*%","*","[")
exportClasses("gammaconv")

